body {
    background: url("img/fondo1.jPG");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sparrowContainer {
   
    text-align: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    line-height: 1.3;
    
    max-width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .03);
    border-radius: .3em;
    display: grid;
}


/* RESET */
.textSparrow {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
}

button {
    padding: 1% 2% 1% 2%;
    margin: 1% 30%;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    border-style: none;
    text-decoration: none;
    background: rgb(248, 143, 5);
    justify-content: center;
}

input[type="radio"] {
    text-align: center;
    margin-left: 300px;
    margin-top: 30px;
    border-top-width: 30px;
    padding-top: 20%;
}

.box-flex {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.small-icon {
    text-align: center;
    width: 20px;
    display: flex;
}

.input-h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.input-home {
   
    font-size: 100%;
      font-family: 'Raleway', sans-serif;
    color: #8b8a8a;
      line-height: 1.3;
      padding: 1% 2% 1% 2%;
      max-width: 100%; 
      margin: 2% 2% 2% 2%;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
      border-radius: .3em;
}

.input-blanco {
    max-width: 100%;
    text-align: center;
    display: flex;
    border-radius: 20px;
    border: none;
    padding: 1% 40%;
    box-sizing: border-box;
    min-height: 20px;
    margin-right: 50%;
    margin-top: 5%;
    justify-content: center;
    flex-flow: column nowrap;
}

.recordar-pass {
    text-align: center;
    color: #fff;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    border: none;
}

ul.inicio-icons {
    text-align: center;
    display: flex;
    margin: 0;
    color: #fff;
    padding: 0;
    list-style: none;
}

img.full {
    width: 45rem;

}


@media (max-width: 475px) {
    .tarjeta {
        width: 80%;
    }

    
    body {
        max-width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: hidden;
    }
    .tarjeta {
        width: 100%;
    }
    .sparrowContainer {
        width: 100%;
    }
    /* RESET */
.textSparrow {
    width: 100%;
}

button {
    width: 100%;
}

input[type="radio"] {
    width: 100%;
}

.box-flex {
    width: 100%;
}

.small-icon {
    width: 100%;
}

.input-h2 {
    width: 100%;
}

.input-home {
    width: 100%;
}

.input-blanco {
    width: 100%;
}

.recordar-pass {
    width: 100%;
}

ul.inicio-icons {
    width: 100%;
}

img.full {
    width: 1rem;

}

}

@media (max-width: 320px) {
    body {
        max-width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        background: hidden;
    }
    .tarjeta {
        width: 100%;
    }
    .sparrowContainer {
        max-width: 100%;
    }
    /* RESET */
.textSparrow {
    max-width: 100%;
}

button {
    width: 100%;
}

input[type="radio"] {
    max-width: 100%;
}

.box-flex {
    max-width: 100%;
}

.small-icon {
    max-width: 100%;
}

.input-h2 {
    max-width: 100%;
}

.input-home {
  
    max-width: 20%;
}

.input-blanco {
    max-width: 100%;
}

.recordar-pass {
    max-width: 100%;
}

ul.inicio-icons {
    max-width: 100%;
}

img.full {
    max-width: 100%;

}

}





